@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');

/*-------------------------------------------universal*/

.text-align-centre {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.purple-background {
    background-color: #332d44;
}

/*-------------------------------------------header*/

    

.header-container {
    background-color: #332d44;
    height: 50px;
}

.link-alignment {
    padding-top: 10px;
}

.link-alignment div {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.link-formatting {
    color: white;
    font-family: 'Noto Serif KR', serif;
}

.no-padding {
    padding: 0;
}

.link-hover a:hover {
    color: #89b333;
    text-decoration: none;
}

/*-------------------------------------------------hero image*/

.picture {
    background: url("../images/hands-off-cropped.png");
    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.image-outer {
    position: relative;
}

.head-title {
    font-family: 'Noto Serif KR', serif;
    color: white;
    font-size: 350%;
    margin-top: 40px;
    text-align: center; 
}

/*-------------------------------------------------history*/

.history-title {
    width: 100%;
    background-color: white;
    padding-top: 30px;
    color: #332d44;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    margin-bottom: 20px;
}

.history-text {
    color: #332d44;
    font-family: 'Noto Serif KR', serif; 
}

.history-image-1 {
    height: 250px;
    background: url("../images/new-clean-olive1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 250px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.history-image-2 {
    height: 250px;
    background: url("../images/new-clean-olive2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 250px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.history-text p {
    padding-bottom: 15px;
}

/*-------------------------------------------------quote section*/

.quote-section {
    width: 100%;
    background-color: #89b333;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.quote-info {
    text-align: right;
    font-size: 25px;
    font-family: 'Noto Serif KR', serif;
}

.quote {
    font-size: 35px;
    font-family: 'Noto Serif KR', serif;
}

/*-------------------------------------------------footer*/

.footer-container {
    background-color: #332d44;
    width: 100%;
}

.footer-container row {
    width: 100%;
}

.footer-alignment {
    text-align: right;
}

.center-contents-footer {
    text-align: center;
}

.media-links {
    text-align: center;
    font-size: 50px;
    line-height: 200px;
    padding-right: 40px;
    color: white;
    margin-bottom: 0;
    display: inline-block;
}

.contact {
    padding-top: 50px;
    color: white;
    font-family: 'Noto Serif KR', serif;
}

.inline-block {
    display: inline-block;
}

.inline-block a {
    color: white;
}

.inline-block a:hover {
    text-decoration: none;
    color: #89b333;
}

/*--------------------------------------------------------- media quieries */

@media screen and (max-width: 950px) {
    .quote {
    font-size: 25px;
    }
    .quote-info {
    font-size: 20px;
    }
}

@media screen and (max-width: 720px) {
    .quote {
        font-size: 20px;
    }
    .quote-info {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .quote {
        font-size: 15px;
    }
    .quote-info {
        font-size: 10px;
    }
}


@media screen and (max-width: 900px) {    
    .head-title {
    font-size: 250%;
}
}

@media screen and (max-width: 690px) {
    .link-alignment div {
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 522px) {
    .link-alignment div {
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 386px) {
    .link-alignment div {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 13px;
    }

    #home-padding {
        padding-left: 10px;
    }
}


@media screen and (max-width: 768px) {
.history-image-1 {
    height: 180px;
    background-size: 100% 180px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.history-image-2 {
    height: 180px;
    background-size: 100% 180px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (max-width: 950px) {
    .quote-section {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/*--------------------------------------------------------- product_info */

.green-machine-image {
    background: url("../images/green-machine.jpeg");
    background-repeat: no-repeat;
    min-height: 500px;
    width: 450px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.red-machine-image {
    background: url("../images/red_paste.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
    width: 450px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.kalamata-machine-image {
    background: url("../images/kalamata.jpeg");
    background-repeat: no-repeat;
    min-height: 500px;
    width: 450px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.product-info-image-row-formatting {
    height: 560px;
}

.product-info-image-row-formatting div {
    background-color: white;
    padding-top: 20px;
}

.product-info-row-formatting div {
    padding-top: 20px;
    background-color: #89b333;
    padding-bottom: 15px;
}


.info-paragraph-format {
    color: white;
    font-family: 'Noto Serif KR', serif;
    padding-left: 15px;
}


.product-info-image-title-row-formatting {
    height: 60px;
    background-color: white;
    padding-top: 25px;
    text-align: center;
    color: #332d44;
    font-family: 'Noto Serif KR', serif;
}

.fact-file-padding-top {
    padding-top: 20px;
}

#line-break-product-info {
    height: 2px;
    width: 100%;
    background-color: black;
}


@media screen and (max-width: 388px) {
    #stop-overlap {
            margin-top: 30px;
}
}    


@media screen and (max-width: 530px) {
    .green-machine-image {
        width: 100%;
    }

    .kalamata-machine-image {
        width: 100%;
    }


    .red-machine-image {
        width: 100%;
    }
}

/*--------------------------------------------------------- about */

.about-image {
   background: url("../images/thin-olives.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    width: 300px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.our-story-text h2 {
    text-align: center; 
    padding-top: 20px;
    color: #332d44;
    font-family: 'Noto Serif KR', serif;
}

.our-story-text p {
    padding-top: 10px; 
    padding-bottom: 10px;
    color: #332d44;
    font-family: 'Noto Serif KR', serif;
}

form {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #332d44;
    font-family: 'Noto Serif KR', serif;
}

#about-image-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
   .our-story-text p {
      padding-right: 30px;
      padding-left: 30px;  
   } 

   .about-image {
    background: url("../images/olives_at_sunset.jpg");
    min-height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    }

    #about-image-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
}


#contact-us-title {
    color: #332d44;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    padding-top: 20px;
}

/*-------------------------------------------videos*/

.top-row-videos {
    margin-top: 30px;
}

.bottom-row-videos {
    margin-bottom: 25px;
}

iframe {
    height: 430px;
    width: 550px;
}

@media screen and (max-width: 1160px) {
    iframe {
    height: 387px;
    width: 440px
}
}

@media screen and (max-width: 991px) {
    iframe {
        height: 480px;
        width: 750px;
    }

    .top-row-videos div {
        text-align: center;
    }

    .bottom-row-videos div {
        text-align: center;
    }
}

@media screen and (max-width: 782px) {
    iframe {
        height: 384px;
        width: 600px;
    }

    .top-row-videos div {
        text-align: center;
    }

    .bottom-row-videos div {
        text-align: center;
    }
}

@media screen and (max-width: 634px) {
    iframe {
        height: 288px;
        width: 450px;
    }

    .top-row-videos div {
        text-align: center;
    }

    .bottom-row-videos div {
        text-align: center;
    }
}

@media screen and (max-width: 634px) {
    iframe {
        height: 192px;
        width: 300px;
    }

    .top-row-videos div {
        text-align: center;
    }

    .bottom-row-videos div {
        text-align: center;
    }
}

